@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500;700&display=swap");

h1 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  color: #2c2738;
}

span {
  margin: 0 4px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #2c2738;
}

a {
  color: #0880ae;
  text-decoration: none;
}

.container {
  background: #fff;
  border-radius: 24px;
  box-shadow: 0px 12px 24px rgba(44, 39, 56, 0.02), 0px 32px 64px rgba(44, 39, 56, 0.04);
  width: 100%;
  min-width: 360px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form {
  padding: 40px 30px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #756f86;
}

input {
  border: 1px solid #dbe2ea;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
  border-radius: 6px;
  display: block;
  padding: 10px;
  width: 100%;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #7c9cbf;
}

input:focus {
  border: 2px solid #0880ae;
  color: #2c2738;
}

select {
  border: 1px solid #dbe2ea;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
  background: #fff;
  display: block;
  padding: 10px;
  width: 100%;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #2c2738;
}

select:active {
  border: 2px solid #0880ae;
}

.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ff7171;
}

button {
  background: #0880ae;
  box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.08), 0px 4px 8px rgba(44, 39, 56, 0.08);
  width: 100%;
  padding: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  font-family: IBM Plex Sans;
  text-align: center;
  border-radius: 6px;
  color: #ebf4f8;
}

button:hover {
  box-shadow: 0px 12px 24px rgba(44, 39, 56, 0.08), 0px 24px 48px rgba(44, 39, 56, 0.16);
}

button:disabled {
  background: #dbe2ea;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.08);
}

button:active {
  border: 2px solid rgba(44, 39, 56, 0.86);
  box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.0001), 0px 4px 8px rgba(44, 39, 56, 0.08);
  box-sizing: border-box;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox + label::before {
  background: #fff;
  content: "";
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid #dbe2ea;
  box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
  border-radius: 4px;
  margin-right: 0.5em;
}

.custom-checkbox:checked + label::before {
  content: "✔";
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #0880AE;
  border: 1px solid #0880AE;
}
